#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}

#page-create-point header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}

form {
    background-color: white;

    margin: 80px auto;
    padding: 64px;

    border-radius: 8px;

    max-width: 730px;
}



